@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1:  #d1af66;
  --color2:  #ffff96;
  --color3:  #76ecec;
  --color4:  #5e4318;
  --color5:  #361f00;
}

body {
  background-color: var(--color3);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  background-color: var(--color3);
  padding: 1rem;
  
  text-align: center;
  margin-bottom: 10px;
}

.content {
  margin-top: 20px;
  margin: auto;
  padding: 10px;
  max-width: 800px;
  background-color: var(--color1);
  border-radius: 2px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Divide a página em colunas, com um espaço de 10px entre elas */
  gap: 10px; /* Espaço entre as colunas */

}

.grid-item {
  background-color: var(--color5);
  padding: 20px;
  margin: 5px;
  color: aliceblue;

}

.media {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgba(255, 255, 255, 0.676);
  margin: 30px;
  border-radius: 3px;
  

}

.image {
  display: flex; /* Torna o container flexível */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente (se necessário) */
  height: 400px;
}

.image > img {
  width: 80%; /* Define a largura da imagem como 80% */
  max-width: 100%; /* Evita que a imagem exceda o tamanho do container */
  height: auto; /* Mantém a proporção da imagem */
}

